<!-- 
<kt-notice [icon]="'flaticon-warning kt-font-primary'">
	We know that you are authorized to access this part of the system. 
	Considering that, this is a critical module. Please be careful!
</kt-notice> -->


<kt-portlet>
    <kt-portlet-body>

        <!--begin: Wizard -->
        <div #wizard class="kt-grid kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2"
            data-ktwizard-state="step-first">
            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
                <!--begin: Form Wizard Form-->
                <form [formGroup]="myForm" (ngSubmit)="submit()" class="kt-form" id="kt_form">
                    <!--begin: Form Wizard Step 1-->
                    <div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                        <div class="kt-heading kt-heading--md">{{'ADD_FEE_MODEL'|translate}} </div>
                        <div class="kt-form__section kt-form__section--first">
                            <div class="kt-wizard-v2__form">

                                <div class="form-group required">
                                    <label class="col-form-label">{{'NAME'|translate}}</label>
                                    <input type="text" class="form-control" name="name"
                                        [placeholder]="'NAME'|translate" formControlName="name">
                                    <print-error [control]="myForm.get('name')"></print-error>
                                </div>

                                <div class="form-group required">
                                    <label class="col-form-label">{{'TYPE'|translate}}</label>
                                    <ng-select
                                    [placeholder]="'TYPE' | translate"
                                    (change)="setIsPercentageBased($event)"
                                    formControlName="type"
                                  >
                                    <ng-option value="PERCENTAGE">PERCENTAGE</ng-option>
                                    <ng-option value="EXACT_AMOUNT">EXACT_AMOUNT</ng-option>
                                  </ng-select>                                           
                                    <print-error [control]="myForm.get('type')"></print-error>
                                </div>


                                <div class="form-group required">
                                    <label class="col-form-label">{{'IS_ITEM_BASED'|translate}}</label>  
                                    <ng-select
                                    [placeholder]="'IS_ITEM_BASED' | translate"
                                    (change)="setIsItemBased($event)"
                                    formControlName="isItemBased"
                                  >
                                    <ng-option value="YES">YES</ng-option>
                                    <ng-option value="NO">NO</ng-option>
                                  </ng-select>                                                   
                                    <print-error [control]="myForm.get('isItemBased')"></print-error>
                                </div>


                                <div class="form-group required">
                                    <label class="col-form-label">{{'PERCENTAGE'|translate}}</label>
                                    <input type="number" class="form-control" name="percentage"
                                        [placeholder]="'PERCENTAGE'|translate" formControlName="percentage">
                                    <print-error [control]="myForm.get('percentage')"></print-error>
                                </div>


                                <div class="form-group required">
                                    <label class="col-form-label">{{'AMOUNT'|translate}}</label>
                                    <input type="number" class="form-control" name="name"
                                        [placeholder]="'AMOUNT'|translate" formControlName="amount">
                                    <print-error [control]="myForm.get('amount')"></print-error>
                                </div>

                                <div class="form-group required">
                                    <label class="col-form-label">{{'AGENT_FEE_AMOUNT'|translate}}</label>
                                    <input type="number" class="form-control" name="agentFeeAmount"
                                        [placeholder]="'AGENT_FEE_AMOUNT'|translate" formControlName="agentFeeAmount">
                                    <print-error [control]="myForm.get('agentFeeAmount')"></print-error>
                                </div>

                                <div class="form-group required">
                                    <label class="col-form-label">{{'AGENT_FEE_PERCENTAGE'|translate}}</label>
                                    <input type="number" class="form-control" name="agentFeePercentage"
                                        [placeholder]="'AGENT_FEE_PERCENTAGE'|translate" formControlName="agentFeePercentage">
                                    <print-error [control]="myForm.get('agentFeePercentage')"></print-error>
                                </div>


                                <div class="kt-form__section kt-form__section--first">
                                    <div class="form-group kt-form__group row">
                                      <label class="col-lg-12 col-form-label"> {{'FEE_INCLUSION'|translate}}</label>
                                      <div class="col-lg-12">
                                        <ng-select
                                          [placeholder]="'FEE_INCLUSION' | translate"
                                          formControlName="feeInclusion"
                                        >
                                          <ng-option value="INCLUDED"
                                            >INCLUDED</ng-option>
                                          <ng-option value="NOT_INCLUDED"
                                            >NOT_INCLUDED</ng-option>
                                        
                                        </ng-select>
                                        <print-error [control]="myForm.get('feeInclusion')"></print-error>
                                      </div>
                                    </div>
                                  </div>


                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 1-->




                    <!--begin: Form Actions -->
                    <div class="kt-form__actions text-center">
                        <button (click)="routeHome()" type="button"
                            class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                            {{'BACK'|translate}}
                        </button>&nbsp;&nbsp;
                        <button [disabled]="myForm.invalid"
                            class="btn btn-primary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                            data-ktwizard-type="action-submit">
                            {{'SUBMIT'|translate}}
                        </button>
                    </div>
                    <!--end: Form Actions -->
                </form>
                <!--end: Form Wizard Form-->
            </div>
        </div>
        <!--end: Wizard -->

    </kt-portlet-body>
</kt-portlet>
<ngx-spinner></ngx-spinner>