<kt-portlet>
    <kt-portlet-body>
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-caption">
          <div class="kt-portlet__head-title">
            <span class="kt-portlet__head-icon kt-hide">
              <i class="la la-gear"></i>
            </span>
            <h3 class="kt-portlet__head-text">
              {{ "VERIFY_PDA" | translate }}
            </h3>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <!--begin::Form-->
          <form class="kt-form" [formGroup]="form" (ngSubmit)="submit()">

            <div class="form-group row">
              <label class="col-lg-3 col-form-label">{{ "VERIFICATION_TYPE" | translate }}</label>
              <div class="col-lg-9">
                <ng-select [items]="verification_types" 
                    bindLabel="name" 
                    bindValue="id" 
                    [placeholder]="'VERIFICATION_TYPE' | translate"
                    formControlName="verification_type"
                    (change)="setVerificationType($event)"
                    >
                </ng-select>
              </div>
            </div>

                
            <div class="form-group row required" *ngIf="is_center_based">
              <label class="col-lg-3 col-form-label">{{"CENTER_CODE" | translate}}</label>
              <div class="col-lg-9">
                <input type="text" class="form-control" [placeholder]="'CENTER_CODE' | translate"
                  formControlName="center_code" />
                <print-error [control]="form.get('center_code')"></print-error>
              </div>
            </div>
          
  
            <div class="row justify-content-md-center">
              <button [disabled]="form.invalid" type="submit"
                class="btn btn-primary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                {{ "SHOW" | translate }}</button>&nbsp;&nbsp;
              <button (click)="resetForm()" type="button"
                class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                {{ "CLEAR" | translate }}
              </button>
            </div>
          </form>
          <!--end::Form-->
        </div>
      </div>
    </kt-portlet-body>
  </kt-portlet>
  <ngx-spinner></ngx-spinner>



  <div *ngIf='is_docs_available'>

    <!-- <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="'FILTER' | translate" />
</mat-form-field> -->
<br>
<div class="mat-elevation-z8 no-paginator-range-label">
  <table mat-table [dataSource]="dataSource" matSort style="width: 100%">
    <!-- Area Name Column -->
    <ng-container matColumnDef="nidFamilyNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "NID_FORM_NO" | translate }}
      </th>
      <td mat-cell *matCellDef="let row">{{ row.nidFamilyNo }}</td>
    </ng-container>
    <!-- Area Code Column -->
    <ng-container matColumnDef="onlineFormFamilyNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "ONLINE_FORM_FAMILY_NO" | translate }}
      </th>
      <td mat-cell *matCellDef="let row">{{ row.onlineFormFamilyNo }}</td>
    </ng-container>
    <!-- Area Type Column -->
    <ng-container matColumnDef="docOriginalName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "ORIGINAL_NAME" | translate }}
      </th>
      <td mat-cell *matCellDef="let row">{{ row.docOriginalName }}</td>
    </ng-container>
    <!-- Reporting Office Column -->
    <ng-container matColumnDef="docNumOfPages">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "NO_OF_PAGES" | translate }}
      </th>
      <td mat-cell *matCellDef="let row">{{ row.docNumOfPages }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "ACTIONS" | translate }}
      </th>
      <td mat-cell *matCellDef="let row; let i = index ">
        <button mat-icon-button color="primary" (click)="verify(row, i)" 
        >
          <mat-icon>check_circle_outline</mat-icon>
        </button>&nbsp;

       <!--

        
        <button mat-icon-button color="primary" (click)="view(row)" >
          <mat-icon> visibility </mat-icon>
        </button>&nbsp;

            <button mat-icon-button color="warn" type="button" (click)="delete(row)">
          <mat-icon>delete</mat-icon>
        </button>
       -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50]" [length]="resultLength"></mat-paginator>
</div>

  </div>